<h1>Welcome to the Rails Installer Demo !!!</h1>
<h1>v.0 <%= @date %> :: <%= @message %></h1>
<p>
	Find me in app/views/welcome/index.html.erb
</p>
<div id="include-in-html">
	<h2>Mine</h2>
	<ul>
		<li>
			<a href="items">Items</l>
		</li>
		<li>
			<a href="orders">Orders</l>
		</li>
		<li>
			<a href="pages/about">About</l>
		</li>
		<li>
			<a href="pages/contact">Contact</l>
		</li>
		<li>
			<a href="pages/home">Home</l>
		</li>
	</ul>
	<h2>Enumeration</h2>
	<ul>
		<%(1..10).each do|i|%>
		<li>
			number <%= i%>
		</li>
		<%end%>
	</ul>
	<h2>Environment variables</h2>
	<table>
		<%ENV.keys.sort.each do |key|%>
		<tr>
			<th><%= key%></th><td><%= ENV[key]%></td>
		</tr>
		<%end%>
	</table>
</div>
