<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Vol remain:</b>
  <%= @order.vol_remain %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
